netbox-lists
git+https://github.com/sjm-steffann/netbox-ddns.git@main
netbox-ipcalculator
netbox-topology-views
netbox-plugin-device-map
phonebox_plugin
netbox-gateways
nb-service
netbox-plugin-dns
netbox-bgp
netbox_kea
netbox-data-flows
netbox-tunnels2
netbox-inventory
netbox-contract
netbox-slm
netbox-routing
netbox-acls
