netbox-lists
git+https://github.com/Onemind-Services-LLC/netbox-access-lists1.git@dev
git+https://github.com/sjm-steffann/netbox-ddns.git@main
netbox-ipcalculator
netbox-topology-views
netbox-plugin-device-map
phonebox_plugin
netbox-gateways
git+https://github.com/KristineFJ/nbservice.git@fix-3.3
netbox-dns
git+https://github.com/kvedder-amplex/netbox-bgp.git@main
netbox-maintenancecontract-plugin