netbox-lists
git+https://github.com/Onemind-Services-LLC/netbox-access-lists1.git@dev
git+https://github.com/sjm-steffann/netbox-ddns.git@main
netbox-ipcalculator
netbox-topology-views
netbox-plugin-device-map
phonebox_plugin
netbox-gateways
nb-service
netbox-dns
netbox-bgp